# Archivo de credenciales
.env

# Archivos y carpetas de PyInstaller
/dist
/build
*.spec

# Entorno virtual de Python
.venv/
venv/

# Carpetas del IDE
.idea/

# Archivos de caché de Python
__pycache__/
*.pyc